<ul class="piano set">
  <li class="key white c  <%= key_class(0, notes, root) %>"></li>
  <li class="key black cs <%= key_class(1, notes, root) %>"></li>
  <li class="key white d  <%= key_class(2, notes, root) %>"></li>
  <li class="key black ds <%= key_class(3, notes, root) %>"></li>
  <li class="key white e  <%= key_class(4, notes, root) %>"></li>
  <li class="key white f  <%= key_class(5, notes, root) %>"></li>
  <li class="key black fs <%= key_class(6, notes, root) %>"></li>
  <li class="key white g  <%= key_class(7, notes, root) %>"></li>
  <li class="key black gs <%= key_class(8, notes, root) %>"></li>
  <li class="key white a  <%= key_class(9, notes, root) %>"></li>
  <li class="key black as <%= key_class(10, notes, root) %>"></li>
  <li class="key white b  <%= key_class(11, notes, root) %>"></li>
</ul>
