<ul class="piano set">
  <li class="key white c <%= notes.include?(0) ? 'active' : '' %>"></li>
  <li class="key black cs <%= notes.include?(1) ? 'active' : '' %>"></li>
  <li class="key white d <%= notes.include?(2) ? 'active' : '' %>"></li>
  <li class="key black ds <%= notes.include?(3) ? 'active' : '' %>"></li>
  <li class="key white e <%= notes.include?(4) ? 'active' : '' %>"></li>
  <li class="key white f <%= notes.include?(5) ? 'active' : '' %>"></li>
  <li class="key black fs <%= notes.include?(6) ? 'active' : '' %>"></li>
  <li class="key white g <%= notes.include?(7) ? 'active' : '' %>"></li>
  <li class="key black gs <%= notes.include?(8) ? 'active' : '' %>"></li>
  <li class="key white a <%= notes.include?(9) ? 'active' : '' %>"></li>
  <li class="key black as <%= notes.include?(10) ? 'active' : '' %>"></li>
  <li class="key white b <%= notes.include?(11) ? 'active' : '' %>"></li>
</ul>
