<ul class="piano set">
  <li class="key white sm c  <%= key_class(0, notes, root) %>"></li>
  <li class="key black sm cs <%= key_class(1, notes, root) %>"></li>
  <li class="key white sm d  <%= key_class(2, notes, root) %>"></li>
  <li class="key black sm ds <%= key_class(3, notes, root) %>"></li>
  <li class="key white sm e  <%= key_class(4, notes, root) %>"></li>
  <li class="key white sm f  <%= key_class(5, notes, root) %>"></li>
  <li class="key black sm fs <%= key_class(6, notes, root) %>"></li>
  <li class="key white sm g  <%= key_class(7, notes, root) %>"></li>
  <li class="key black sm gs <%= key_class(8, notes, root) %>"></li>
  <li class="key white sm a  <%= key_class(9, notes, root) %>"></li>
  <li class="key black sm as <%= key_class(10, notes, root) %>"></li>
  <li class="key white sm b  <%= key_class(11, notes, root) %>"></li>
</ul>
