<button class="scaleButton" data-notes='<%= @scale[:frequencies] %>'>Play</button>
<button class="chordsButton" data-chords='<%= [['A4', 'C4', 'E4'], ['C3', 'A4', 'E4'], ['A4', 'C4', 'E4'], ['A4', 'C4', 'E4']] %>'>Play</button>


<div class="row">
  <div class="column">
    <%= form_with(url: "/build", method: "post") do %>
      <div class="row">
        <div class="column column-20">
          <%= label_tag(@root, "Root:") %>
          <%= select_tag :root, options_for_select(@notes, @root) %>
        </div>
        <div class="column column-20">
          <%= label_tag(:type, "Type:") %>
          <%= select_tag :type, options_for_select(types_for_select(@types), @type) %>
        </div>
      </div>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="column">
    <h2>Scale</h2>
    <%= render partial: "large_piano", locals: { notes: @scale[:scale], root: @scale[:root] } %>
  </div>

  <% if ['major', 'minor'].include?(@type) %>
    <div class="column">
      <h2>Pentatonic</h2>
      <%= render partial: "large_piano", locals: { notes: @scale[:pentatonic], root: @scale[:root] } %>
    </div>
  <% end %>
</div>

<br/>

<div class="row">
  <div class="column">
    <h3>Chords</h3>
    <% @scale[:chords].each_slice(4).to_a.each do |slice| %>
      <div class="row">
        <% slice.each do |chord| %>
          <div class="column column-25">
            <h4><%= "#{chord[:quality]} - #{chord[:name]}" %></h4>
            <%= render partial: "small_piano", locals: { notes: chord[:notes], root: chord[:root] } %>
          </div>
        <% end %>
      </div>
      <br/>
    <% end %>
  </div>
</div>
